<div class="row ">
  <div class="eight columns">
    <%= page_entries_info @events %>
    <% @events.each do |event| %>
      <card class="event-card">
        <h4><%= event.title %></h4>
        <img src="http://via.placeholder.com/540x300">
        <div class="row">
          <div class="six columns">
            <p class="major-info"><%= event.location %></p>
            <p class="major-info"><%= event.start_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
          <div class="six columns">
            <p class="ticket-price"><%= event.ticket_price %>円</p>
            <%= link_to 'Purchase', new_event_purchase_path(event), class: 'button button-primary' %>
          </div>
        </div>
      </card>
    <% end %>
    <%= paginate @events %>
  </div>
  <sidebar class="four columns categories-sb">
    <card class="categories-card">
      <h4>Categories</h4>
      <ul>
        <%= form_tag(events_path, method:"get") do %>
        <li><a name="konkatu", href="../events?utf8=%E2%9C%93&id=1">KONKATSU</a></li>
        <% end %>
        
        <%= form_tag(events_path, method:"get") do %>
        <li><a name="koikatu", href="../events?utf8=%E2%9C%93&id=2">KOIKATSU</a></li>
        <% end %>
        
        <%= form_tag(events_path, method:"get") do %>
        <li><a name="gourmet", href="../events?utf8=%E2%9C%93&id=3">GOURMET</a></li>
        <% end %>
  
      </ul>
    </card>
    <card class="search-card">
      <h4>Search</h4>
      
      <%= form_tag(events_path, method:"get") do %>
      <%= text_field_tag :title, params[:title], class:'u-full-width'%>
      <%= submit_tag "search", class:'button button-primary u-full-width' %>
      <% end %>
      
    </card>
  </sidebar>
</div>
